body {
  font-family: Arial, sans-serif;
  background: #f3f4f7;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
h1 {
  text-align: center;
}
nav {
  text-align: center;
  margin-bottom: 20px;
}
nav button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.calc-section {
  display: none;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.result {
  background: #eef;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
input, select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
button {
  background: rgb(0, 115, 255);
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background:  rgb(0, 115, 255);
}
